@model PropertyDto

@{
    ViewData["Title"] = "AddProperty";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!--begin::Card-->
<form asp-route="Admin/Property/AddProperty" method="post">
    @Html.AntiForgeryToken()
    <div class="card card-custom">
        <div class="card-header flex-wrap border-0 pt-6 pb-0">
            <div class="card-title">
                <h3 class="card-label">
                    @Localizer["OzellikEkle"]
                </h3>
            </div>
            <div class="card-toolbar">
                <!--begin::Button-->
                <button type="submit" class="btn btn-primary font-weight-bolder w-100 w-lg-auto">
                    <span class="svg-icon svg-icon-md">
                        <!--begin::Svg Icon | path:assets/media/svg/icons/Design/Flatten.svg-->
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24" />
                                <circle fill="#000000" cx="9" cy="15" r="6" />
                                <path d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z" fill="#000000" opacity="0.3" />
                            </g>
                        </svg>
                        <!--end::Svg Icon-->
                    </span>@Localizer["Kaydet"]
                </button>
                <!--end::Button-->
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                @{ int number = 0;}
                @foreach (var languageDto in ViewBag.Languages as List<LanguageDto>)
                {
                    <div class="col">
                        <div class="form-group">
                            <label>@Localizer[languageDto.Name]&nbsp;@Localizer["Adi"]</label>
                            <input type="hidden" asp-for="PropertyNames[number].LanguageId" value="@languageDto.Id" />
                            <input asp-for="PropertyNames[number].Name" placeholder="@Localizer[languageDto.Name] - @Localizer["Adi"]" dir="@languageDto.Dir" type="text" class="form-control" />
                            <span asp-validation-for="PropertyNames[number].Name" class="small text-danger"></span>
                        </div>
                    </div>
                    number++;
                }
            </div>
            <hr />
            <div id="PropertyItems">
                @if (Model != null)
                {
                    int propertyItemNumber = 0;
                    @foreach (var propertyItem in Model.PropertyItems)
                    {
                        int propertyItemNameNumber = 0;
                        <div class="row">
                            @foreach (var propertyItemName in propertyItem.PropertyItemNames)
                            {
                                <div class="col">
                                    <div class="form-group">
                                        <label>@((ViewBag.Languages as List<LanguageDto>).First(x=>x.Id == propertyItemName.LanguageId).Name) Öğe</label>
                                        <input type="hidden" asp-for="PropertyItems[propertyItemNumber].PropertyItemNames[propertyItemNameNumber].LanguageId" />
                                        <input type="text" asp-for="PropertyItems[propertyItemNumber].PropertyItemNames[propertyItemNameNumber].Name" dir="@((ViewBag.Languages as List<LanguageDto>).First(x=>x.Id == propertyItemName.LanguageId).Dir)" placeholder="@((ViewBag.Languages as List<LanguageDto>).First(x=>x.Id == propertyItemName.LanguageId).Name) Öğe" class="form-control" />
                                        <span asp-validation-for="PropertyItems[propertyItemNumber].PropertyItemNames[propertyItemNameNumber].Name" class="small text-danger"></span>
                                    </div>
                                </div>
                                propertyItemNameNumber++;
                            }
                            <div class="col-auto">
                                <div class="form-group">
                                    <label class="w-100">&nbsp;</label>
                                    <button onclick="RemovePropertyItem(this)" type="button" class="btn btn-icon btn-outline-danger">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        propertyItemNumber++;
                    }

                }
            </div>
            <div class="row mt-3">
                <div class="col">
                    <button type="button" onclick="AddPropertyItem()" class="btn btn-icon btn-outline-primary">
                        <i class="far fa-plus-square"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
@section JavaScript{
    <script>
        var globalLanguages = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.Languages))');
        var propertyItemsCount = @(Model ==null ? 0: Model?.PropertyItems.Count);
        var languageCount = @ViewBag.Languages.Count;
    </script>
    <script src="~/assets/js/pages/admin/add-property.js"></script>
}
