@model PersonalStoreDto
@{
    ViewData["Title"] = "AddPersonalStore";
    Layout = "~/Views/Shared/_SellerLayout.cshtml";
}
<form asp-route="/Seller/Account/AddPersonalStore" method="post" enctype="multipart/form-data" id="addPersonalStoreForm">
    <input type="hidden" asp-for="SellerId" value="@ViewBag.SellerId" />
    <div class="card p-3 border-secondary mt-5">
        <div class="card-header text-center border-secondary">
            <h5>@Localizer["KisiselBilgiler"]</h5>
        </div>
        <div class="card-body" id="personalInformations">
            <div class="form-row">
                <div class="row col-md-9">
                    <div class="form-group col-md-6">
                        <label>@Localizer["MagazaAdi"]</label>
                        <input asp-for="StoreName" id="storeName" type="text" class="form-control" placeholder="@Localizer["MagazaAdi"]" oninput="CheckStoreName(this)" onchange="StoreUrl()" />
                        <span asp-validation-for="StoreName" class="text-danger"></span>
                        <span id="StoreNameControl" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label>@Localizer["MagazalaUrl"]</label>
                        <label id="storeLabel" class="form-control text-primary bg-gray-200 font-weight-bold"></label>
                    </div>
                    <div class="form-group col-md-6">
                        <label>@Localizer["TicaretUnvani"]</label>
                        <input asp-for="Title" type="text" class="form-control" placeholder="Unvan" value="@User.Identity.Name" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label>@Localizer["DogumTarihi"]</label>
                        <input asp-for="BirthDate" type="date" class="form-control">
                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group text-center">
                        <div class="image-input image-input-outline image-input-circle" id="kt_image_3">
                            <div class="image-input-wrapper" style="background-image: url('/assets/media/img/seller/seller.jpg')"></div>
                            <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Logo Ekle">
                                <i class="fa fa-pen icon-sm text-muted"></i>
                                <input asp-for="LogoFile" type="file" accept=".png, .jpg, .jpeg" />
                                <input type="hidden" name="profile_avatar_remove" />
                            </label>
                            <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" data-toggle="tooltip" title="Loguyu Sil">
                                <i class="ki ki-bold-close icon-xs text-muted"></i>
                            </span>
                        </div>
                        <span class="form-text text-muted">@Localizer["DosyaTuru"]</span>
                        <span asp-validation-for="LogoFile" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>@Localizer["TelNo"]</label>
                    <input asp-for="Phone" type="number" class="form-control" placeholder="GSM">
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label>@Localizer["Web"]</label>
                    <input asp-for="Website" type="text" class="form-control" placeholder="WEB">
                    <span asp-validation-for="Website" class="text-danger"></span>
                </div>
                @if (ViewBag.SellerLocation == 2) // TR
                {
                    <div class="form-group col-md-12">
                        <label>@Localizer["VatandaslikNo"]</label>
                        <input asp-for="CitizenshipNumber" type="text" class="form-control" placeholder="VAT. NO" />
                        <span asp-validation-for="CitizenshipNumber" class="text-danger"></span>
                    </div>

                }
                else // ŞUAN 2 ÜLKEDE KAYIT ALINDIĞI İÇİN ELSE KULLANILIYOR.
                {
                    <div class="form-group col-md-12">
                        <div class="radio-inline justify-content-center border border-secondary p-5">
                            <label class="radio radio-lg radio-success">
                                <input type="radio" name="libyaRadioButton" value="1" />
                                <span></span>
                                VATANDAŞLIK NUMARASI
                            </label>
                            <label class="radio radio-lg radio-success">
                                <input type="radio" name="libyaRadioButton" value="2" />
                                <span></span>
                                EHLİYET BELGE NUMARASI
                            </label>
                            <label class="radio radio-lg radio-success">
                                <input type="radio" name="libyaRadioButton" value="3" />
                                <span></span>
                                PASAPORT NUMARASI
                            </label>
                        </div>
                        <span class="form-text text-muted text-center">@Localizer["LibyaSeciniz"]</span>
                    </div>
                    <div class="row col-md-12 justify-content-center">
                        <div class="col-md-6 text-center" id="radioButtonDiv"></div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="card p-3 border-secondary mt-5">
        <div class="card-header text-center border-secondary">
            <h5>@Localizer["AdresBilgileri"]</h5>
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>@Localizer["VergiUlke"]</label>
                    <select class="form-control" asp-for="CountryId" onload="GetCities(this)">
                        @{string countryName = "";}
                        @for (int i = 0; i < ViewBag.SelectedCountry.CountryNames.Count; i++)
                        {
                            if (i != 0)
                            {
                                countryName += " - ";
                            }
                            countryName += ViewBag.SelectedCountry.CountryNames[i].Name;
                        }
                        <option value="@ViewBag.SelectedCountry.Id">@countryName</option>
                    </select>
                    <span asp-validation-for="CountryId" class="text-danger"></span>
                </div>
                @if (ViewBag.SellerLocation == 2) // TR
                {
                    <div class="form-group col-md-4">
                        <label>@Localizer["VergiSehir"]</label>
                        <select class="form-control" asp-for="CityId" onchange="GetDistricts(this)">
                        </select>
                        <span asp-validation-for="CityId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label>@Localizer["VergiBolge"]</label>
                        <select class="form-control" asp-for="DistrictId">
                            <option value="">@Localizer["Seciniz"]</option>
                        </select>
                        <span asp-validation-for="DistrictId" class="text-danger"></span>
                    </div>
                }
                else // LIBYA
                {
                    <div class="form-group col-md-4">
                        <label>@Localizer["VergiSehir"]</label>
                        <select class="form-control" asp-for="CityId">
                        </select>
                        <span asp-validation-for="CityId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label>@Localizer["VergiBolge"]</label>
                        <input asp-for="DistrictForLibya" type="text" class="form-control" placeholder="LİBYA İLÇE" />
                        <span asp-validation-for="DistrictForLibya" class="text-danger"></span>
                    </div>
                }
            </div>
            <div class="form-row">
                <div class="form-group col-md-12 mt-3">
                    <textarea asp-for="Address" class="form-control" rows="4" placeholder="@Localizer["Adres"]"></textarea>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="card p-3 border-secondary mt-5">
        <div class="card-header text-center border-secondary">
            <h5>@Localizer["KategoriSecimi"]</h5>
        </div>
        <div class="card-body">
            <div class="row justify-content-center mt-5">
                <div class="col-md-12">
                    <div class="form-group" id="categoryCheckbox">
                        <div class="form-control overflow-auto" style="height:350px">
                            <input class="form-control mt-3 mb-5" type="text" placeholder="@Localizer["KategoriAra"]" id="categoryCheckBoxSearch" />
                            @for (int i = 0; i < ViewBag.Categories.Count; i++)
                            {
                                string categoryText = "";
                                for (int j = 0; j < ViewBag.Categories[i].CategoryNames.Count; j++)
                                {
                                    if (j != 0)
                                        categoryText += " - ";
                                    categoryText += ViewBag.Categories[i].CategoryNames[j].Name;
                                }
                                <div class="checkbox-inline mt-1">
                                    <label class="checkbox checkbox-outline checkbox-outline-2x checkbox-primary">
                                        <input type="checkbox" name="Categories[@i].Id" value="@ViewBag.Categories[i].Id" @* onchange="checkCategoryValidation()"*@ /> <span></span> @categoryText
                                        <input type="hidden" name="Categories[@i].CategoryNames[0]" />
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex float-right mt-5">
                <button type="submit" class="btn btn-primary">
                    <i class="flaticon-download-1"></i>&nbsp;&nbsp;@Localizer["MagazaKaydet"]
                </button>
            </div>
        </div>
    </div>
    <!--MODAL END-->
</form>
@section JavaScript{
    <script>var selectedCityId = @ViewBag.SelectedCityId;</script>
    <script>var selectedDistictId = @ViewBag.SelectedDistrictId;</script>
    <script src="~/assets/js/pages/seller/add-personal-store.js"></script>
    <script src="~/assets/js/pages/seller/search.js"></script>
    <script src="~/assets/js/global/seller/image-input.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}