@*@model CountryDto*@
@{
    ViewData["Title"] = "CurrentLocation";
    Layout = "~/Views/Shared/_SellerRegisterLayout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-10 ml-auto mr-auto">
            <div class="card p-5">
                @if (ViewBag.Location != null)
                {
                    var currentLocationColor = ViewBag.Location.Id == 2 ? "primary" : "success";
                    <div class="alert-@currentLocationColor text-center">
                        <p class="h2">@Localizer["MevcutLokasyon"]</p>
                        @if (ViewBag.Location.Id == 1)
                        { <p class="text-bold h1 mt-3">@ViewBag.Location.CountryNames[0].Name</p> }
                        else
                        { <p class="text-bold h1 mt-3">@ViewBag.Location.CountryNames[1].Name</p> } 
                    </div>
                }
                else
                { 
                    <div class="alert-success text-center">
                        <p class="h2">@Localizer["Lokasyonunuzun"]</p>
                        <p class="text-bold h2 mt-3">@Localizer["SecilmesiGerekiyor"]</p>
                    </div>
                }
                <div class="text-center" style="margin-top:30px">
                    <p class="h3">@Localizer["LokasyonSecin"]</p>
                </div>
                <div class="row" style="margin-top:30px" id="Countries">
                    @if (ViewBag.Location != null)
                    {
                        var buttonColorCountry1 = ViewBag.Location.Id == 1 ? "success" : "primary";
                        var buttonColorCountry2 = ViewBag.Countries[0].Id == 1 ? "success" : "primary";
                        <div class="col-md-6">
                            <a href="/Seller/Account/Register?id=@ViewBag.Location.Id" class="btn btn-outline-@buttonColorCountry1 btn-lg btn-block mt-3">@ViewBag.Location.CountryNames[1].Name</a>
                        </div>
                        <div class="col-md-6">
                            <a href="/Seller/Account/Register?id=@ViewBag.Countries[0].Id" class="btn btn-outline-@buttonColorCountry2 btn-lg btn-block mt-3">@ViewBag.Countries[0].CountryNames[1].Name</a>
                        </div>
                    }
                    else
                    {
                        @foreach (var item in ViewBag.Countries)
                        {
                            var buttonColorCountry = item.Id == 1 ? "success" : "primary";
                            <div class="col-md-6">
                                <a href="/Seller/Account/Register?id=@item.Id" class="btn btn-outline-@buttonColorCountry btn-lg btn-block mt-3">@item.CountryNames[1].Name</a>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>